<template name="defaultP">	
	{{#if Template.subscriptionsReady}}

		{{#each project}}
		<div class="project_info">
			{{> controlPanel}}
			
			<form class="editableProjectNameForm" name="editableProjectNameForm">
				<h2 class="editableContentSolidPName editableProjectName">{{name}}</h2>
			</form>
			<span class="project_descriptor" title="{{_ 'descriptionLabel'}} {{description}}">
				<i class="fa fa-question-circle" ></i>
			</span>

			<form class="edit_project_description hiddenE" name="edit_project_description">
				<textarea class="desc_editor" name="desc_editor" cols="20" rows="2">{{description}}</textarea>
				<input type="submit" class="btn" value="{{_ 'editButton'}}">
			</form>
		</div>
		{{/each}}
			<ul class="card_manager">				
					{{#each cards}}
						{{> card}}
					{{/each}}	
				{{#each project}}			
				<li class="cardInserter">
					<form class="insert_card">
						<span class="fake_card_title">
							<span>{{_ 'insertCardPlaceHolder'}}</span>
						</span>
						<input type="text" name="card_title" class="card_title hiddenE" placeholder="{{_ 'insertCardPlaceHolder'}}" autocomplete="off">
						<input class="submitCard hiddenE btn" type="submit" value="{{_ 'addButton'}}">
						<i class="fa fa-times-circle cancelFormC hiddenE"></i>
					</form>					
				</li>
				{{/each}}
			</ul>
	{{else}}
		{{> loading}}
	{{/if}}
</template>	