<template name="projects">
      <div class="jumbotron text-center" style="padding: 20px;">

        <h1>{{_ 'projectsHeader'}}</h1>

        <div class="row">

          <div class="col-md-12 col-sm-12 col-xs-12 start_project_frame">

            <div class="start_project_inserter" id="projectStarter">
              <span>{{_ 'addProjectButton'}}</span>
            </div>

            <div class="project_inserter hiddenE">
              <form class="insert_project">
                <input type="text" name="proj_name" class="proj_name" placeholder="{{_ 'projectNamePlaceholder'}}" autocomplete="off">
                <input type="text" name="proj_desc" class="proj_desc" placeholder="{{_ 'projectNamePlaceholder'}}" autocomplete="off">
                <div></div>
                <input class="start_project btn" type="submit" value="{{_ 'addProjectSubmit'}}">
                <i class="fa fa-times-circle cancelFormP"></i>
              </form>         
            </div>
          </div>
        
        </div> <!--end row -->

        <div class="row project_container">
          {{#each showProjects}}
          <div class="col-md-4 col-sm-6 col-xs-12">
            {{> project}}
          </div>
          {{/each}}
        </div>
        
      </div>
    </template>

    <template name="project">      
      <a href="./projects/{{_id}}" class="projectLink" data-id="{{proj_type}}">
        <div class="pContainer">
          <h3>{{name}}
            {{#if isOwner}}
            <span class="owner_container" title="{{_ 'starTitle'}}">
                <i class="fa fa-star"></i>
            </span>
            {{/if}}
          </h3>          
        </div>
      </a>      
    </template>