<template name="taskManager">
	{{#with task}}
	<div class="modal" id="modalTask" tabindex="-1" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<form class="editableTaskNameForm" name="editableTaskNameForm">
						<h4 class="modal-title editableContentSolid editableTaskName">
							{{name}}
						</h4>
						<span class="labelMarker {{label}}"></span>
					</form>
				</div>
				<div class="container modal-body">
					<div class="row">
						<!--task body-->
						<div class="col-md-8 task_content">
							<div class="row">
								<!-- Change description -->
								<form class="editableTaskDescriptionForm" name="editableTaskDescriptionForm">
								<span class="editableContentSolid editableTaskDescription">
									
									{{#unless description}}
										Task has no description.
									{{else}}
										{{description}}
									{{/unless}}

								</span>
								<input type="submit" value="Send" id="descButton">
								</form>

								{{#each comments}}
								{{> comment}}
								{{/each}}
								<form class="new_comment">
									<input type="text" name="commentMsg">
									<input type="submit" value="Add comment">
								</form>
								{{timeLeft}}

								<ul class="projectMemberList">
									{{#each projectMembers}}
										<li class="projectMember">{{username}}</li>
									{{/each}}
								</ul>

								<ul class="taskMemberList">
									{{#each taskMembers}}
										<li class="taskMember">
											{{username}}
											<span class="delete_task_member">&times;</span>
										</li>
									{{/each}}
								</ul>
							</div>
						</div>
						<!--task sidebar-->
						<div class="col-md-4 task_tools">
							<!-- Change label color -->
							<form class="set_label">
								<label for="editLabel">Change Label: 
									<select name="editLabel">
										<option>Red</option>
										<option>Green</option>
										<option>Blue</option>
										<option>Yellow</option>
										<option>Orange</option>
										<option>Purple</option>
									</select>	
								</label> 
								<span>{{label}}</span>
								<input type="submit" value="Set">
							</form>

							<!-- Set due date -->
							<form>
								<div class="input-group datetimepicker" id="picker-dueDate">
									<span class="input-group-addon">
										<i class="glyphicon glyphicon-calendar"></i>
									</span>
									<input class="set-due-date form-control" type="text"/>		
								</div>
								<input class="dateSetter" type="submit" value="Set Date"/>
							</form>
							<!-- Move task -->
							<form class="taskMover">
								<label for="moveTask">Available cards:
									<select class="moveTask" name="moveTask">
										{{#each cards}}
										<option data-id="{{_id}}">{{name}}</option>
										{{/each}}
									</select>
								</label>
								<input type="submit" value="Move">
							</form>

							<!-- Archive task -->
							<button type="button" class ="archiveTask">Archive this task</button>
						</div>

					</div>
				</div>

				<div class="modal-footer">
					<button type="button" 
					class="btn btn-default" 
					data-dismiss="modal">Close</button>     

					<!-- <button type="button" class="btn btn-primary">Save changes</button> -->
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
	{{/with}}
</template>