<template name="taskManager">
{{#with task}}
<div class="modal" id="modalTask" tabindex="-1" role="dialog">
<div class="modal-dialog">
<div class="modal-content">
<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-label="Close">
		<span aria-hidden="true">&times;</span>
	</button>
	<form class="editableTaskNameForm" name="editableTaskNameForm">
		<h4 class="modal-title editableContentSolid editableTaskName">
			{{name}}
		</h4>
	</form>
	{{#each activeLabels}}
		<span class="labelMarkerAuto {{#unless this.text}}labelNoText{{/unless}}" style="background-color:{{this.color}}">{{this.text}}</span>
	{{/each}}
</div>
<div class="container modal-body">
	<div class="row">
		<!--task body-->
		<div class="col-md-8 task_content">
			<div class="row">
				{{#with dueDate}}
				<div class="due_box">
					<span class="dateDisplay {{colorDate}}">
						<b>{{_ 'dueLabel'}}</b> : {{dueDateDisplay}} ({{timeLeft}})
					</span>
				</div>
				{{/with}}
				<!-- Change description -->
				<div class="description_box">
					<h5>{{_ 'descriptionLabel'}}</h5>
					<form class="editableTaskDescriptionForm" name="editableTaskDescriptionForm">
							<span class="editableContentSolid editableTaskDescription">
							{{#if description}}
								{{description}}
							{{else}}{{_ 'noDescription'}}{{/if}}
							</span>
						<!--
							{{#if showDescription}}
								<span class="editableContentSolid editableTaskDescription">Task has no description.</span>
							{{else}}
								<span class="editableContentSolid editableTaskDescription">{{description}}</span>
							{{/if}}
						-->
						<input class="btn" type="submit" value="{{_ 'sendButton'}}" id="descButton">
					</form>
				</div>
				<div class="comments_box">
					<h5>{{_ 'newCommentLabel'}}</h5>
					<form class="new_comment">
						<textarea rows='2' cols='40' class='comment_input' name='commentMsg' type='text'></textarea>
						<input class="comment_submit btn" type="submit" value="{{_ 'sendButton'}}">
					</form>
					{{#if hasComments}}
						<h5>{{_ 'commentsLabel'}}</h5>
					{{/if}}

					{{#each comments}}
						{{> comment}}
					{{/each}}
				</div>
			</div>
		</div>
		<!--task sidebar-->
		<div class="col-md-4 task_tools">
			<div class="panel-group" id="accordion2">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title">
							<a data-toggle="collapse" data-parent="#accordion2" href="#collapseTaskOne">{{_ 'taskMemberAccordion'}}</a>
						</h4>
					</div>
					<div id="collapseTaskOne" class="panel-collapse collapse">
						<div class="panel-body">
							<ul class="projectMemberList">
								{{#each projectMembers}}
								<li class="projectMember">
									{{username}}
									<div class="member_buttons">
										<i class="fa fa-check-circle {{#unless isMember}}add_task_member{{/unless}} {{#if isMember}}isMember{{/if}}"></i>
										<i class="fa fa-times-circle {{#if isMember}}delete_task_member{{/if}} {{#unless isMember}}isNotMember{{/unless}}"></i>
									</div>
								</li>
								{{/each}}
							</ul>
						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title">
							<a data-toggle="collapse" data-parent="#accordion2" href="#collapseTaskTwo">{{_ 'labelAccordion'}}</a>
						</h4>
					</div>
					<div id="collapseTaskTwo" class="panel-collapse collapse">
						<div class="panel-body">

							{{#each labels}}
								<div class="label_wrapper">
									<div class="label_picker" style="background-color: {{color}}" data-id="{{color}}">
										{{text}}
										{{#with isActive}}
											<i class="fa fa-check"></i>
										{{/with}}
									</div>
									<input type="text" class="label_text hiddenE" style="background-color: {{color}}" data-id="{{color}}" value="{{text}}">
									<span class="label_editor">
										<i class="fa fa-pencil-square"></i>
									</span>
								</div>
							{{/each}}

							<!-- OLD LABEL FORM
							<form class="set_label">
								<label class="edit_label" for="editLabel">Change Label: 
									<select class="select_label" name="editLabel">
										<option>Red</option>
										<option>Green</option>
										<option>Blue</option>
										<option>Yellow</option>
										<option>Orange</option>
										<option>Purple</option>
									</select>	
								</label>
								<input type="submit" class="btn" value="Set">
							</form>
							-->
						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title">
							<a data-toggle="collapse" data-parent="#accordion2" href="#collapseTaskThree">{{_ 'dueDateAccordion'}}</a>
						</h4>
					</div>
					<div id="collapseTaskThree" class="panel-collapse collapse">
						<div class="panel-body">
							<!-- Set due date -->
							<form>
								<div class="input-group datetimepicker" id="picker-dueDate">
								</div>
								<div class="date_browser">
								<span class="browse_date"></span>
								</div>
								<div class="due_date_buttons">
									<input class="dateSetter btn" type="submit" value="{{_ 'setDateBtn'}}"/>
									<button class="dateRemover btn">{{_ 'removeDateBtn'}}</button>
								</div>
							</form>
						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title">
							<a data-toggle="collapse" data-parent="#accordion2" href="#collapseTaskFour">{{_ 'moveAccordion'}}</a>
						</h4>
					</div>
					<div id="collapseTaskFour" class="panel-collapse collapse">
						<div class="panel-body">
							<!-- Move task -->
							{{#each cards}}
							<div class="card_target {{#if isActualCard}}actual_card{{/if}}" data-id="{{_id}}">{{name}}</div>
							{{/each}}
						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title">
							<a data-toggle="collapse" data-parent="#accordion2" href="#collapseTaskFive">{{_ 'archiveAccordion'}}</a>
						</h4>
					</div>
					<div id="collapseTaskFive" class="panel-collapse collapse">
						<div class="panel-body">
							
							<!-- Archive task -->
							<button type="button" class ="archiveTask btn btn-danger">{{_ 'archiveBtn'}}</button>
							
						</div>
					</div>
				</div>
			</div> <!-- end accordion2 -->
		</div> <!-- end col-md-3 -->
	</div> <!-- end row -->
</div>
<div class="modal-footer">
	<button type="button" 
	class="btn btn-default" 
	data-dismiss="modal">{{_ 'closeButton'}}</button>
	<!-- <button type="button" class="btn btn-primary">Save changes</button> -->
</div>
</div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{{/with}}
</template>