body {
    position: relative;
}

  .bubble {
      padding: 0.5em;
      z-index: 1;
      overflow: hidden;
  }
  
  
  .bubble, .reduced {
      border-radius: 15px;
      height: 3.5em;
      width: 25em;
  }
  
  .reduced_body {
      width:95%;
      height: 95%;
      overflow: hidden;
      margin: 0 auto;
  }

  .expanded {
      border-radius: 15px;
      height: 30em;
      width: 25em;

      margin-left: -25em;

      position: absolute;
  }
  
  .expanded_body {
      display: none;
      height: 95%;
      width: 95%;
      margin: 0 auto;
  }