@import "../tools/palette";

.labelMarker {
	display: inline-flex;
	border-radius: 8px;
	height: 0.8em;
	width: 3em;
}

.redL {
	background-color: $redL; 
}

.greenL {
	background-color: $greenL; 
}

.blueL {
	background-color: $blueL; 
}

.yellowL {
	background-color: $yellowL; 
}

.orangeL {
	background-color: $orangeL; 
}

.purpleL {
	background-color: $purpleL; 
}