@import "../tools/palette";

.labelMarker {
	display: inline-flex;
	border-radius: 10px;
	margin-top: 3px;
	margin-left: 5px;
	height: 1em;
	width: 3em;
}

.default {
	background-color: transparent;
}

.redL {
	background-color: $redL; 
}

.greenL {
	background-color: $greenL; 
}

.blueL {
	background-color: $blueL; 
}

.yellowL {
	background-color: $yellowL; 
}

.orangeL {
	background-color: $orangeL; 
}

.purpleL {
	background-color: $purpleL; 
}