@import "../tools/palette";

ul {
  padding-left: 0;
}

.card_manager {
  margin-top: 4.5em;
  width: auto;
  height: 100%;
  min-height: 400px;
  display: inline-flex;
  flex-direction: row;
  overflow: auto;
  list-style: none;
}

.card_body {
  position: relative;
}

.card_frame {
	display: inline-block;
	float: left;
	margin: 0.15em;
  margin-top: 0.3em;
  padding: 0.7em;
  padding-top: 1em;
  width: 22em;
  height: 100%;
  border: 2px solid $darkerYellow;
  border-radius: 10px;
  color: $textColor;    
  background-color: $mainYellow;
  h3 {
    display: inline-block;
    margin-top: 1px;
  }

}

.taskInserter {
  border-radius:5px;
  text-align: center;
}

.activeT {
  background-color: $lightYellow;
  border: 2px solid $mainYellow;
}

.fake_task_title {
  border-radius: 3px;
  border: none;
  margin: 0.2em;
  padding: 0.2em;
  width: 99%;
  height: 2.5em;
  display: inline-block;
  background-color: $darkYellow;
  text-align: left;

  span {
    display: inline-block;
    vertical-align: sub;
  }
  &:hover {
    background-color: lighten($darkYellow,10%);
  }
}

.task_title {
  background-color: lighten($darkYellow,5%);
  border: none;
  margin: 0.2em;
  padding: 0.2em;
  display: inline-block;
  border-radius: 3px;
  width: 98%;
  height: 2.5em;
  outline-style: none;
  /*outline-color: $darkYellow;*/
  &:hover {
    background-color: lighten($darkYellow,10%);
  }
  &:focus {
    border: none;
  }
}

.insert_task {
  padding:5px;
  padding-top:2px;
  box-sizing: content-box;
  i {
    font-size: 2.2em;
    vertical-align: middle;
    padding-bottom:3%;
  }

  .btn {
    background-color: $gray-lighter;
    color: #111;
    margin-right:1.5em;
    padding: 2% 5%;

    &:hover {
      background-color: lighten($gray-lighter,5%);
    }
  }

  input {
    margin-bottom: 3%;
  }

  ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
      color:    $textColor;
  }
  :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
     color:    $textColor;
     opacity:  1;
  }
  ::-moz-placeholder { /* Mozilla Firefox 19+ */
     color:    $textColor;
     opacity:  1;
  }
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
     color:    $textColor;
  }

}

.cancelFormT {
  color: $textColor;
  cursor: pointer;
}

.hiddenE {
  display: none;
}

.ghostCard {
  height: 2.5em;
  width: 22em;
  background-color: $mainYellow;
  border-radius: 10px;
  margin: 0.15em;
  padding: 0.7em;
}

.clearDiv {
  clear: both;
}

.cardOptions {
  float: right;
  display: inline-flex;
  cursor: pointer;
  i {
    color: $textColor;
    font-size: 2em;

    &:hover {
      color: darken($textColor,15%);
    }
  }
}

.cardMenu {
  position: absolute;
  left: 100%;
  top: 0;
  max-width: 100%;
  min-width: 7em;
  /*background-color: $darkYellow;
  border-radius: 5px;*/
  color: $textColor;
  z-index: 100;
  padding: 0.5px;
  display: none;

  li {
    border: 2px solid darken($darkYellow,10%);
    background-color: $mainYellow;
    border-radius: 3px;
    padding: 4px 3px;
    margin: 0;
    cursor: pointer;
    &:hover {
      background-color:$lightYellow;
    }
  }
}

.moveTasks {
  position: relative;
}

.cardList {
  position: absolute;
  left: 100%;
  top:-3.5px;
  max-width:100%;
  min-width: 7em;
  /*background-color:$darkYellow;
  border-radius: 5px;*/
  color: $textColor;
  padding:0.5px;
  display:none;

  li {
    border: 2px solid darken($darkYellow,10%);
    background-color: $mainYellow;
    border-radius: 3px;
    padding: 4px;
    margin:0;
    cursor: pointer;
    word-wrap: break-word;
    &:hover {
      background-color:$lightYellow;
    }
  }
}