@import "../tools/palette";

body {
	padding-top: 55px;
}
.container {
	width: 97.5%;
}
.bodyContainer {
	margin: 0 15px 0;
	height:100%;
}

.fa {
	font-size: 1.4em;
}

.project_info {
	position: fixed;
	padding-left: 24px;
	margin-top: -5px;
	width: 100%;
	height: 5em;
	background-color: $lightYellow;
	z-index: 999;
	display: inline-flex;

	span {
		float: left;
	}
}

.cardInserter {
	border-radius:5px;
	height: 6.5em;
	width: 20em;
	text-align: center;
}

.activeC {
	background-color: $mainYellow;
	border: 2px solid $darkYellow;
	margin-top: 5px;
}

.insert_card {
  padding:5px;
  padding-top:2px;
  box-sizing: content-box;

  i {
    font-size: 2.2em;
    vertical-align: middle;
    padding-bottom:3%;
  }

  .btn {
    background-color: $gray-lighter;
    color: #111;
    margin-right:1.5em;
    padding: 2% 5%;

    &:hover {
      background-color: lighten($gray-lighter,5%);
    }
  }

  input {
    margin-bottom: 3%;
  }

  ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
      color:    $textColor;
  }
  :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
     color:    $textColor;
     opacity:  1;
  }
  ::-moz-placeholder { /* Mozilla Firefox 19+ */
     color:    $textColor;
     opacity:  1;
  }
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
     color:    $textColor;
  }
}

.fake_card_title {
	display: inline-block;
	background-color: $lighterYellow;
	border-radius: 3px;
	width: 19em;
	height: 2.6em;
	text-align: left;
	margin-top: 4%;
	padding:0.2em;

	span {
		display: inline-block;
		margin-top: 5px;
	}

	&:hover {
		background-color: darken($lighterYellow,5%);
	}
}

.card_title {
	background-color: darken($lighterYellow,5%);
	border:none;
	border-radius: 3px;
	width: 19em;
	height: 2.5em;
	outline-style: none;
	margin-top: 0.2em;
	margin-bottom: 0.4em;
	padding:0.2em;

	&:focus {
		border: none;
	}
}

.cancelFormC {
	color: $textColor;
	cursor: pointer;
}

.hiddenE {
	display: none;
}

.project_descriptor {
	font-size: 7em;
	line-height:40px;
	margin-left:20px;
}