@import "../tools/palette";

.pContainer {
	display: inline-block;
	float: left;
	width: 100%;
	height: 30%;
	border-radius: 10px;
	margin: 0.5em auto;

	background-color: $lightYellow;
	color: $textColor;
	&:hover {
		background-color: darken($lighterYellow,10%);
	}

	h3 {
		text-align: left;
		line-height: 0.75em;
		margin: 0 auto;
		padding: 1em;
	}
}

.project_container {
	margin-top:1.5%;
}

.start_project_frame {
	clear: both;
}

.start_project_inserter {
	display: inline-block;
	float: left;
	width: 100%;
	height: 6em;
	border-radius: 10px;
	margin: 0 auto;
	padding: 0;
	border: 0;
	cursor: pointer;

	background-color: $lightYellow;
	color: $textColor;
	&:hover {
		background-color: darken($lighterYellow,10%);
	}

	span {
		margin: auto;
		display: inline-block;
		padding: 0;		
		padding-top:2.2%;
		font-size: 2.5em;
		line-height: 0.75em;

	}
}

.project_inserter {
	display: inline-block;
	border-radius:10px;
	width:100%;
	text-align: center;
	color: $textColor;
	background-color: darken($lighterYellow,10%);
	margin-top: 5px;
	padding:10px;
}

.insert_project {
  padding:5px;
  padding-top:2px;
  box-sizing: content-box;

  i {
    font-size: 4em;
    vertical-align: middle;
    padding-top:11px;
    color: $gray;
  }

  .btn {
    background-color: $gray;
    color: #fff;
    font-size: 1.6em;
    margin-top:15px;
    margin-right:1.5em;
    padding: 1% 3%;
    outline-style: none;

    &:hover {
      background-color: lighten($gray,5%);
    }
  }

  ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
      color:    $textColor;
  }
  :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
     color:    $textColor;
     opacity:  1;
  }
  ::-moz-placeholder { /* Mozilla Firefox 19+ */
     color:    $textColor;
     opacity:  1;
  }
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
     color:    $textColor;
  }
}

.proj_name, .proj_desc {
	background-color: darken($lighterYellow,25%);
	border:none;
	border-radius: 3px;
	width: 19em;
	height: 2.5em;
	outline-style: none;
	margin-top: 0.1em;
	margin-bottom: 0.1em;
	padding:0.2em;
	clear: both;

	@media screen and(max-width: 400px) {
		width: 90%;
	}

	&:focus {
		border: none;
	}
}

.cancelFormP {
	color: $textColor;
	cursor: pointer;
}

.owner_container {
	line-height: 0;
	float: right;
	font-size:1.6em;

	i {
		color: #ffb20a;
	}
}


