@import "../tools/palette";

.searchUserForm {
	input[type='text'] {
		outline-color: transparent;
	}
}

.matchingUsers {

	ul {
		margin-left: 2px;
		li {
			background-color: #ddd;
			border-radius: 3px;
			margin: 3px;

			&:hover {
				background-color: lighten(#ddd,5%);
			}
		}
	}

}