@import "../tools/palette";

.searchUserForm {
	input[type='text'] {
		outline-color: transparent;

	}
}

.matchingUsers {

	ul {
		margin-left: 2px;
		li {
			background-color: darken($gray-lighter,10%);
			border-radius: 3px;
			margin: 3px;

			&:hover {
				background-color: darken($gray-lighter,5%);
			}
		}
	}

}