@import "../tools/palette";

.searchUserForm {
	input[type='text'] {
		width: 98%;
		height:2em;
		border: 1px solid $gray-light;
		border-radius: 3px;
		outline-color: lighten($gray-light,15%);
	}
}

.matchingUsers {
	ul {
		
		li {
			background-color: $gray-lighter;
			border-radius: 3px;
			margin: 6px 3px;
			padding: 3px 6px;
			cursor: pointer;

			&:hover {
				background-color: darken($gray-lighter,5%);
			}
		}
	}

}