@import "../tools/palette";

.editableTaskNameForm {
	display:flex;
}

#modalTask {
	color: #111;
	.modal-content {
		min-width: 150%;
		margin-left: -20%;
		@media screen and (max-width:1024px) {
			min-width: 95%;
			margin-left:0;
		}
	}
	a {
		color: #111;
		&:hover {
			color:#111;
		}
	}
}

.task_content {
	.btn {
		background-color: darken($gray-lighter,5%);
		border: 1px solid darken($gray-lighter,15%);
		border-radius: 4px;
		margin: 4px;
	}
	h5 {
		font-weight: bold;
	}
	.due_box {
		margin: 3px 6px;

		.dateDisplay {
			width: 99%;
			margin: 1px;
			padding: 3px;
			word-wrap: break-word;
			border-radius: 5px;
			background-color: $gray-lighter;			
			display: inline-block;
			margin-top: 5px;
		}
	}
	.description_box {
		margin: 3px 6px;
		.editableTaskDescriptionForm {
			background-color: $gray-lighter;
			border-radius: 4px;
			display: inline-block;
			width: 100%;
			padding: 8px 4px;
			clear: both;
			overflow: auto;
			#descButton {
				margin: 8px 20px;
				float: left;
			}
		}
	}
	.comments_box {
		margin: 3px 6px;
		h5 {
			float: left;
			clear: both;
		}
		.new_comment {
			background-color: $gray-lighter;
			border-radius: 4px;
			display: inline-block;
			width: 100%;
			padding: 8px 4px;
			clear: both;
			.comment_input {
				float: left;
				outline-style:none;
				border: 1px solid darken($gray-lighter,15%);
				border-radius: 5px;
				background-color: lighten($gray-lighter,3%);
			}
			.comment_submit {
				margin: 5px 25px;
				float: left;
			}
		}
	}
}

.task_tools {
	padding: 0;
	.panel-group .panel {
		margin-top: 1px;
	}
}

#accordion2 .panel-body {
	padding: 5px;
}

#collapseTaskFive .panel-body {
	padding:15px;
	text-align: center;
}

.projectMemberList {
	width: 100%;
	margin: 0;
	padding: 3px;
	.projectMember {
		width: 99%;
		margin: 1px;
		padding: 3px;
		border: 1px solid darken($gray-lighter,15%);
		border-radius: 5px;
		background-color: darken($gray-lighter,3%);
		i {
			font-size: 1.5em;
		}
	}
}
.member_buttons {
	display: inline-block;
	float: right;
}

.isMember {
	color: $successGreen;
}

.isNotMember {
	color: $errorRed;
}

.card_target {
	width: 99%;
	margin: 1px;
	padding: 3px;
	word-wrap: break-word;
	border: 1px solid darken($gray-lighter,15%);
	border-radius: 5px;
	background-color: darken($gray-lighter,3%);
	cursor: pointer;
}

.actual_card {
	background-color: $successGreen;
	border-color: darken($successGreen,15%);
	font-weight: bold;
}

.due_date_buttons {
	text-align: center;
}

#picker-dueDate {
	width: 100%;
	width: 99%;
	padding: 3px;
	margin-bottom: 5px;
	a {
		color: lighten($mainYellow,5%);
	}
}
.date_browser {
	margin: 5px;
	padding: 3px;
	width: 99%;
	text-align: center;
	border: 1px solid darken($gray-lighter,15%);
	border-radius: 5px;
	background-color: darken($gray-lighter,3%);
	display: inline-block;
}

.no-style {
	padding: 0;
	margin: 0;
}
.label_wrapper {
	margin:2px;
	padding:4px;
	font-weight: bold;
	color: #111;
	.label_picker {
		/*display: inline-block;*/
		width:85%;
		border-radius:3px;
		min-height:30px;
		padding:3px 6px;
		float:left;
		cursor: default;
		i {
			float: right;
			padding-top:3px;
			font-size:1.4em;
		}
	}
	.label_text {
		width:85%;
		border-radius:3px;
		min-height:30px;
		padding:3px 6px;
		float:left;
		outline-color:black;
		border:none;
	}
	.label_editor {
		float:left;
		padding: 2px 0 6px 6px;
		color: #111;
		i {
			font-size:1.8em;
		}
	}
}

.hiddenE {
	display:none;
}

