<template name="card">	
	
	<li class="card_frame" id="{{_id}}">
		<div class="card_body">

			<ul class="cardMenu hiddenE" id="{{_id}}">
				<li class="archiveCard">Archive</li>
				<li class="moveCard">Move</li>
				<li class="copyCard">Copy</li>
				<li class="tellMeIndex">Index #</li>
			</ul>

			<h3 class="editableCardName">{{name}}</h3> 
			<span class="cardOptions">
				<i class="fa fa-pencil-square"></i>
			</span>
			<div class="clearDiv"></div>
				<ul class="task_manager">
				{{#each tasks}}
				{{> task}}
				{{/each}}
				<li class="taskInserter" id="{{_id}}">
				<form class="insert_task">
					<span class="fake_task_title" id="{{_id}}">
						<span>Insert a task...</span>
					</span>
					<input type="text" name="task_title" class="task_title hiddenE" id="{{_id}}" placeholder="Insert a task..." autocomplete="off">
					<input class="submitTask hiddenE" id="{{_id}}" type="submit" value="Send">
					<span class="cancelFormT hiddenE" id="{{_id}}">&times;</span>
				</form>					
				</li>
				</ul>
		</div>
	</li>
</template>