<template name="card">	
	
	<li class="card_frame" data-id="{{_id}}">
		<div class="card_body">
			<form class="editableCardNameForm" name="editableCardNameForm">
				<h3 class="editableContentSolid editableCardName">{{name}}</h3> 
				<span class="cardOptions">
					<i class="fa fa-pencil-square"></i>
				</span>
			</form>
			<div class="clearDiv"></div>
			<ul class="task_manager scrollbar-card ui-sortable" data-id="{{_id}}">
				{{#each tasks}}
					{{> task}}
				{{/each}}				
			</ul>

			<div class="taskInserter" data-id="{{_id}}">
				<form class="insert_task">
					<span class="fake_task_title" data-id="{{_id}}">
						<span>Insert a task...</span>
					</span>
					<input type="text" name="task_title" class="task_title hiddenE" data-id="{{_id}}" placeholder="Insert a task..." autocomplete="off">
					<input class="submitTask hiddenE btn" data-id="{{_id}}" type="submit" value="Add">
					<i class="fa fa-times-circle cancelFormT hiddenE" data-id="{{_id}}"></i>
				</form>					
			</div>

			<ul class="cardMenu" data-id="{{_id}}">
				<li class="archiveCard">Archive</li>
				<li class="moveTasks">Move tasks
					<ul class="cardList" data-id="{{_id}}">
						{{#each cards}}
						<li class="cardInList" data-id="{{_id}}">{{name}}</li>
						{{/each}}
					</ul>
				</li>
				<li class="archiveTasks">Archive tasks</li>
			</ul>


		</div>
	</li>
</template>