<template name="comment">
	<div class="comment_container">

		<span class="comment_text is_span" data-id="{{_id}}">{{text}}</span>

		<div class="comment_clear"></div>
		{{#with authorship}}
		<span class="comment_author">By: {{username}} </span>
		{{/with}}
		<span class="comment_date"> {{showDate}} </span>
		<div class="comment_clear"></div>
		
		{{#with isAuthor}}
			<form class="comment_edition">
				<span class="toggle_edition btn">Edit</span>
			</form>
			<span class="delete_comment btn">Delete</span>
		{{/with}}

	</div>
</template>