<template name="searchUser">

	<form name="searchUserForm" class="searchUserForm">
		<label for="searchUser">Search by email or username:
			<input type="text" name="searchUser" class="searchUser">
		</label>
		<input type="submit" value="Add">
	</form>

	<div class="matchingUsers">
		<h5>Matching users:</h5>
			<ul>
				{{#each getUsers}}
				<li>Username: {{username}}</li>
				<li>Email: {{{emails.[0].address}}}</li>
				{{/each}}
			</ul>
	</div>

	<div class="userList">
        <h5>Members:</h5>
        	{{> members}}   
    </div>  
</template>


