<template name="task">
	<li class="task_frame" data-id="{{_id}}">
		<div class="task_head">
			{{#each activeLabels}}
			<span class="labelMarker" title="{{this.text}}" style="background-color:{{this.color}}"></span>
			{{/each}}
			<h4>{{name}}</h4>
			<span class="taskOptions">
					<i class="fa fa-pencil-square"></i>
			</span>
		</div>
		<div class="task_info">
			{{#with description}}
				<span title="{{this}}">
					<i class="fa fa-info-circle"></i>
				</span>
			{{/with}}
			{{#with dueDate}}
				<span title="{{timeLeft}}">
					<i class="fa fa-calendar-times-o dateHandler {{colorDate}}"></i>
				</span>
			{{/with}}
			{{#with comments}}
				<span title="{{_ 'taskHas'}} {{this.length}} {{_ 'commentsIcon'}}">
					<i class="fa fa-comments-o"></i>
					{{this.length}}
				</span>
			{{/with}}
			{{#with members}}
				<span title="{{_ 'taskHas'}} {{this.length}} {{_ 'assignedMembersIcon'}}">
					<i class="fa fa-user"></i>
					{{this.length}}
				</span>
			{{/with}}
		<!--
			{{#each checkBoxes}}
				<span title="This task has checkbox lists">
					<i class="fa fa-check-square"></i>{{checkedBoxes}}/{{totalBoxes}}
				</span>
			{{/each}}
		-->
		</div>
	</li>
</template>