//main palette

$mainYellow : #FFB20A;
$lightYellow: lighten(#FFB20A,15%);
$lighterYellow: lighten(#FFB20A,30%);
$darkYellow: darken(#FFB20A,15%);
$darkerYellow: darken(#FFB20A,30%);

//default palette

$bgDefault      : #ffb20a;
$bgHighlight    : #ffca58;
$colDefault     : #000000;
$colHighlight   : #000000;
$dropDown       : true;

//font colors:
$textColor: #111;
$fa-grey: #eee;

//label colors:

$redL: #FF0000;
$greenL : #008000;
$blueL : #0000FF;
$yellowL : #FFD700;
$orangeL : #FF8C00;
$purpleL : #663399;